doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='/js/lib/jquery-1.11.1.js')
    block header
  
  body
    div(class='content')
      block content

    block scripts