extends basetemplate

block header
  link(href='/stylesheets/main.css', rel='stylesheet')

block content
  div(class='trending')
    div(class='trend-tab-bar')
      ul
        li Half-hour
        li Hour
        li Day
        li Week
        li Month
        li Year
    div(class='trend-content')
      ul
        li
          dl
            dd top 5 songs
            dt (1021)
        li
          dl
            dd top 5 songs
            dt (1021)
        li
          dl
            dd top 5 songs
            dt (1021)
        li
          dl
            dd top 5 songs
            dt (1021)
  div(class='mainbox')
    textarea sjdjbdjsbdajb
