extends basetemplate

block content
  div(class='cp-wrapper')
    table
      tr
        td
          username:
        td
          #{username}
      tr
        td
          email:
        td
          #{email}
      tr
        td
          password
        td
          #{password}