extends basetemplate

block header
  link(rel='stylesheet', href='/stylesheets/home.css')
  script(src='/js/lib/quill.js')

block content
  div(class='controlbox')
    div(class='search-line')
      input(id='search-input', type='text', placeholder='search your notes')
      img(src='')
    div(class='button-line')
      a(id='new-note', class='button', href='#') new note
      a(id='new-label', class='button', href='#') new label
    // labels and notes sidebar
    div(class='tree-container')
      ul(class='tree-list', data-bind='foreach: labels')
        li(class='label', data-bind='text: title')
          ul(class='inner-list', data-bind='foreach: labels.notes')
            li(data-bind='text: title')

  //. note sidebar  
    div(class='tree-container', data-bind="template: 'labels-template'")

  //.
    script(id='labels-template', type='text/html').
      <ul class='tree-list'>
        {{each}(index, label) labels}
          <li class='label'>
            ${label.title}
          </li>
        {{/each}}
      </ul>   
  
  div(class='mainbox')
    div(class='editor-header')
      input(type='text' placeholder='title')
      img(class='clear-icon', src='')

    div(id='quill-toolbar')
      button(class='sc-bold') B
      button(class='sc-italic') I

    div(id='editor')
       i the world is a blank piece of paper... write your story here.

    div(class='editor-footer')
      div(class='tag-bar')
        input(id='tag-input', type='text', placeholder='#tag #your #notes')
        a(id='save-note-button', class='button', href='#') save



block scripts
  script(src='/js/quillconfig.js')
  script(src='/js/kohome.js')
    